{{ attach_library('h5p_extension/h5p-extension-lib') }}

<p>Je suis le currentUser {{ memo.userName }}</p>

<h1> {{ cardColonne }}</h1>
<table>
  <thead>
    <tr>
      <th>Titre de la carte</th>
      <th>theme</th>
    </tr>
  </thead>
  <tbody>
  {% for item in memo.selectedColumn %}
    <tr>
      <td> {{ item.cardTitle }}</td>
      <td> {{ item.theme }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
