{{ attach_library('h5p_extension/h5p-extension-lib') }} {# to atache the library h5p-extension-lib for custom css and js#}

<div class="table-container group-select">
  <h1 class="title-container"> <a href="{{ path('h5p_extension.h5p_extension') }}" onclick="groupStorage()">Group</a> </h1> {# used of the path twig extension to use the route name / used capitalize filter for first letter in uppercase #}
  <table>
    <thead>
      <tr>
        <th> user Name </th>
        <th> Points </th>
        <th> Max Points </th>
        <th> Moyenne </th>
      </tr>
    </thead>
    <tbody>
      {% set userAverage = 0 %}
      {% for user in usersResults %}
        {% if user.usergroup == usergroup %}
        <tr>
          <td>
            <form class="" action="" method="post">
              <input type="submit" name="username" value="{{ user.username }}">
              <input type="hidden" name="group" value="{{ usergroup }}">
            </form>
          </td>
          <td> {{ user.points }} </td>
          <td> {{ user.maxPoints }} </td>
          {% set userAverage = (user.points/user.maxPoints)*20 %}
          <td> {{ userAverage }} </td>
        </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
